.marks {
  &.horizontal {
    display: flex;
    flex-direction: row;
    margin-left: 27px;
  }
  &.vertical {
    display: flex;
    flex-direction: column;
  }

  span {
    height: 27px;
    width: 27px;
    font-size: 19px;
  }
}