.hover {
  position: absolute;
  background-color: #BBB;
  padding: 10px;
  margin-left: -80px;
  width: 160px;
  border: 3px solid;
  z-index: 5;

  a {
    text-decoration: none;
    color: black;
  }
}