.hitstart {
  font-size: 20px;
  &.damaged {
    color: red;
  }
}
.sunk {
  color: gray;
  .name {
    text-decoration-line: line-through;
  }
}
.buttonSet {

}
.editForm {

}
.button {
  appearance: none;
  background: none;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}