.victory {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  background: gray;
  padding: 10px 60px;
  opacity: 0.9;
  color: red;
  margin: -35px -130px;

  span {
    opacity: 1;
    -webkit-text-stroke: 1px white;
  }
}