.cell {
  width: 25px;
  height: 25px;
  border: 1px solid;
  &.hit {
    background-color: orange;
  }
  &.miss {
    background-color: gray;
  }
  &.fire {
    background-color: red;
  }
  &.sunk {
    background-color: black;
  }
  &.hovered {
    background-color: #BBB;
  }
}

.cellContainer {
  position: relative;
}